<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<!-- Conteúdo da página -->
<main role="main" class="container">

    <!-- Titulo -->
    <h1 class="mt-5">Rotas Estelares</h1>

    <!-- Descrição -->
    <p class="lead">
        Rotas estelares é uma aplicação que visa a utilização de algoritmos de pathfinding para encontrar o
        menor caminho entre dois vértices (as vezes com algum conjunto de restrição) em um grafo direcionado
        qualquer.
    </p>

    <!-- Aplicação -->
    <div>
        TODO PUT MAP HERE!
    </div>

</main>

<% include ../partials/footer.ejs %>

</body>
</html>
